*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

body{
	background-color: #E5E5E5;
}




/******************* MODALS*******************/
/* The Modal (background) */
.modal-ko, .modal-ok {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/******************* FORM *******************/

#myForm{
	width: 50%;
	margin: auto;
	line-height: 2em;
	background-image: url("../img/register2.jpg");
	height: 500px;
	margin-top: 50px;
}

h2{
	text-align: center;
	padding-top: 50px;
	font-family: 'Pacifico', sans-serif;
}

#myForm>div{
	text-align: center;
}

input{
	width: 30%;
}

input[type="radio"] {
    width:40px;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}


