*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

html{
	font-size: 16px;
}

a{
	text-decoration: none;
	color: #9A2617;
	font-size: 20px;
	cursor: pointer;
}

.clearfix{
	clear: both;
}

#menu{
	display: none;
}


/******************* MOBILE *******************/

/* HEADER */

#top-section{
	width: 100%;
	height: 100px;
	background-color: #E5E5E5;
}

.logo{
	width: 50%;
	float: left;
	color: #9A2617;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 1em;
	font-family: 'Pacifico', sans-serif;
}

.hamburger, .cross{
	float: right;
	font-size: 3em;
	background-color: transparent;
	border: none;
	color: #9A2617;
	cursor: pointer;
	padding-right: 30px;

}

.cross{
	display: none;
	font-size: 10em;
}

.hamburger:focus, .cross:focus{
	outline: 0;
}

#top-nav{
	display: none;
}

#menu{
	padding-bottom: 25px;
	margin-left: 5%;

}

/* SLIDESHOW */

/* Slideshow container */
#slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #9A2617;
  font-size: 1em;
  padding: 8px 12px;
  top: 40%;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Pacifico', sans-serif; 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #9A2617;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* MAIN */

#main-section{
	width: 100%;
	border-top: 1px solid #9A2617; 
	border-bottom: 1px solid #9A2617;
}

.destination{
	width: 100%;
	padding: .2em;
	border-bottom: 1px solid #9A2617;
}

.destination > img{
	width: 100%;
}

.destination > p{
	padding-bottom: 25px;
	text-align: center;

}

.destination:hover{
	background-color: #E5E5E5;
}

.titleDestination{
	font-size: 40px;
	color: #9A2617;
	margin-bottom: 25px;
}


/* FOOTER */

#bottom-section{
	width: 100%;
	height: 75px;
	background-color: #E5E5E5;
}

#bottom-nav{
	width: 100%;
	height: 70px;
	line-height: 70px;
}

#bottom-nav a{
	margin-right: 50px;
	font-size: 12px;
}

.goToTop{
	float: right;
}

/******************* TABLET *******************/
@media screen and (min-width: 750px) {
	
	.logo{
		font-size: 2em;
	}

	.prev, .next{
		top: 60%;
	}

	.text{
		top: 60%;
		font-size: 2em;
	}

	#bottom-nav a{
	font-size: 16px;
	}
}


/******************* DESKTOP *******************/

@media screen and (min-width: 1200px) {

	.logo {
		width: 30%;
	}

	#top-nav{
		display: block;
		width: 70%;
		float: left;
	}

	#top-nav a{
		margin-right: 7%;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}

	.hamburger, .cross {
		display: none;
	}

	.prev, .next{
		top: 50%;
	}

	.text{
		font-size: 2.5em;
		top: 50%;
	}

	.destination{
	width: 50%;
	padding: .2em;
	border-bottom: 1px solid #9A2617;
	float: left;
	}

	#bottom-nav a{
	font-size: 16px;
	}
	

}























